:root {
  --primary-color: #d4c4c0;
}

html {
  background-color: #dbd2ca;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Rethink Sans", sans-serif;
}

h1 {
  font-size: 55px;
}

.name {
  font-size: 80px;
  font-weight: 600;
  margin-top: 0;
}

.details {
  margin-top: 17px;
  font-size: 24px;
  opacity: 0.7;
}
.container {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact-button {
  margin: 20px;
  background-color: #d6c3b7;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  transition: all 200ms ease-in-out;
  padding: 20px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: #41272c;
}

.about-button {
  margin: 20px;
  background-color: #d3c1c3;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  transition: all 200ms ease-in-out;
  padding: 20px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #c9b09a;
  color: #f5f5f5;
}
.about-button:hover {
  background-color: #d6c3b7;
  cursor: pointer;
  color: #41272c;
}
.contact-button:hover {
  background-color: #c9b09a;
  cursor: pointer;
  color: #f5f5f5;
}

/* Styling the linked page : contact.html */

.contact-h1 {
  text-align: center;
  font-size: 90px;
}

.contact-h2 {
  text-align: center;
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
  line-height: 0px;
}

.homepage-link {
  display: block;
  text-align: center;
  margin-top: 60px;
  font-size: 28px;
}
.homepage-link:visited {
  color: #41272c;
  text-decoration: none;
}
.homepage-link:hover {
  color: #7a585c;
}
.footer-link {
  text-align: center;
  margin-top: 80px;
}

.contact-mail {
  display: block;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  color: #7a585c;
}
.contact-mail:visited {
  color: #41272c;
}

.contact-mail:hover {
  color: #7a585c;
}
.paragraph-box {
  display: flex;
  margin: 30px 0;
  line-height: 2;
}

.article-one,
.article-two {
  flex-wrap: wrap;
  background-color: var(--primary-color);
  border-radius: 7px;
  margin: 10px;
  flex: 1;
  width: fit-content;
  text-align: center;
}
